*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Georgia, serif;
    background: #eee;
    height: auto;
}
h1{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}
img{
    display: block;
    width: 100%;
}
main{
    max-width: 1200px;
    margin: auto;
    box-shadow: 30px 0 40px rgba(0, 0, 0, .4),
                -30px 0 40px rgba(0, 0, 0, .4);
}

#landing{
    background: #fff;
}
#landing-text{
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#landing-text h2{
    color: #777;
}
.btn{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 4rem;
    border: 2px solid #ccc;
    display: inline-block;
    margin: 3rem 0 0;
    border-radius: 50px;
    color: #333;
    transition: background .5s;
}
.btn:hover{
    background: #ddd;
}
#landing-img{
    background: url(../img/main.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
}
#header{
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}
#header h2{
    border-left: 2px dotted #fff;
    border-right: 2px dotted #fff;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}
.caption{
    padding: .8rem;
    text-align: center;
}
.caption::after{
    content: '';
    display: block;
    background: #333;
    width: 10rem;
    height: 1px;
    opacity: 1;
    margin: .7rem auto .5rem;
}
.caption h3{
    font-size: 1.4rem;
}
.caption p{
    font-size: 1.2rem;
}
footer{
    text-align: center;
    color: #333;
    margin: auto;
    padding: 2rem 1rem;
}
footer h3{
    font-size: 3rem;
    margin-bottom: 0;
}
footer p{
    font-size: 1.2rem;
}

/* screen 900-1200px */
@media(min-width:900px){
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .btn{
        font-size: 2rem;
    }
    .caption h3{
        font-size: 1.8rem;
    }
    .caption p,
    footer p{
        font-size: 1.5rem;
    }
    
}

